solver/frozen_simpleFoam.backup/
solver/simpleFoam_ldu/

turbulenceModels/contTurbModels/
turbulenceModels/dataDrivenTurbModels/
turbulenceModels/nonlinearkOmegaSST/
turbulenceModels/other_models/
turbulenceModels/propTurbModels/
turbulenceModels/nonlinearkOmegaSST.zip

turbulenceModels/frozenTurbModels/frozen_kOmegaSST/
turbulenceModels/frozenTurbModels/frozen_OmegaSST/
turbulenceModels/frozenTurbModels/frozen_OmegaSST_kDeficit_in_kEq/
turbulenceModels/frozenTurbModels/frozen_OmegaSST_v2/
turbulenceModels/frozenTurbModels/frozen_OmegaSST_withoutkDeficit/


util/


